@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-jost);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
  font-family: var(--font-jost), Arial, Helvetica, sans-serif;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-slow {
  background-size: 300% 300%;
  animation: gradient-move 15s ease infinite;
}


/* Custom Scrollbar Styles for Chrome, Edge, Safari, Brave & Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #dfddf0 #434857;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  background: #434857;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, #100d27, #4F39F6);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to top, #1e1b4b, #6366f1);
}